@font-face {
    font-family: "Young Serif";
    src: url("../fonts/young-serif/YoungSerif-Regular.ttf");
}

@font-face {
    font-family: "Outfit";
    src: url("../fonts/outfit/Outfit-VariableFont_wght.ttf");
}
/*
## Colors

### Primary
*/
:root {
    /* primary colors */
    --clr-primary: hsl(14, 45%, 36%);
    --clr-secondary: hsl(332, 51%, 32%);

    /* neutral colors */
    --clr-neutral-white: hsl(0, 0%, 100%);
    --clr-neutral-rose-white: hsl(330, 100%, 98%);
    --clr-neutral-eggshell: hsl(30, 54%, 90%);
    --clr-neutral-light-grey: hsl(30, 18%, 87%);
    --clr-neutral-wenge-brown: hsl(30, 10%, 34%);
    --clr-neutral-dark-charcoal: hsl(24, 5%, 18%);

    --spacing-l: 3.2rem;
    --spacing-m: calc(var(--spacing-l) * 0.875);
    --spacing-s: calc(var(--spacing-l) * 0.75);
}

/* font weights */
$fw-400: 400;
$fw-600: 600;
$fw-700: 700;

/* typography*/

%body_regular {
    font-size: 1rem; //16px
    line-height: 150%;
    font-weight: $fw-400;
}

%body_bold {
    font-size: 1rem;
    font-weight: $fw-600;
    line-height: 150%;
}

%heading_l {
    font-size: 2.25rem;
    line-height: 1;
    font-family: "Young Serif";
    font-weight: $fw-400;
}

%heading_xl {
    font-size: 2.5rem;
    line-height: 1;
    font-family: "Young Serif";
    font-weight: $fw-400;
}

%heading_m {
    font-size: 1.75rem;
    line-height: 1;
    font-weight: $fw-400;
    font-family: "Young Serif";
}
%heading_s {
    font-weight: $fw-600;

    font-size: 1.25rem;
}

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-color: var(--clr-neutral-eggshell);
    color: var(--clr-neutral-wenge-brown);
    font-family: "Outfit";
    @extend %body_regular;
}

/*typography*/
h1 {
    @extend %heading_l;
    color: var(--clr-neutral-dark-charcoal);
}
h2 {
    @extend %heading_m;
    color: var(--clr-primary);
    margin: 2rem 0 1.5rem 0;
}

p {
    @extend %body_regular;
    margin: 1.5rem 0;
}
.overline {
    @extend %heading_s;
    color: var(--clr-secondary);
    margin: 0 0 0.75rem 0;
}

.recipe_page {
    background-color: var(--clr-neutral-white);

    img {
        width: 100%;
    }

    &_content {
        padding: 2rem;
    }

    &_preparation {
        background-color: var(--clr-neutral-rose-white);
        padding: 1.5rem;
        border-radius: 0.75rem;
    }
}

ul,
ol {
    padding-left: 2.5rem;
    list-style: none;

    li {
        line-height: 1.5;
        position: relative;

        span {
            font-weight: $fw-700;
        }
    }

    li:not(:first-child) {
        padding-top: 0.5rem;
    }
}

ul {
    li::before {
        content: "";
        width: 0.25rem;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: var(--clr-primary);
        position: absolute;
        left: -1.95rem;
        top: 50%;
    }
}

ol {
    list-style: none;
    counter-reset: count;
    li {
        counter-increment: count;
    }
    li::before {
        content: counter(count) ".";
        @extend %body_bold;
        position: absolute;
        left: -2rem;
        color: var(--clr-secondary);

        font-weight: $fw-700;
    }
}

hr {
    margin: 2rem 0;
}

dl {
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.5rem;
    dd {
        @extend %body_bold;
        padding-left: 0.5rem;
        color: var(--clr-primary);
    }
}

/*600px*/
@media (min-width: 37.5rem) {
    $br-radius: 0.75rem;
    .recipe_page {
        max-width: 736px;
        margin: 0 auto;
        border-radius: 1.5rem;
    }
    main {
        width: 100%;
        padding: 7.6875rem 0;
    }

    .recipe_page {
        figure {
            padding: 2.5rem 2.5rem 0rem 2.5rem;
        }

        &_content {
            padding: 2.5rem;
        }
    }

    h1 {
        font-size: 2.5rem;
        padding-top: 0;
    }
    img {
        max-width: 656px;
        border-radius: $br-radius;
    }

    dl {
        row-gap: 0.65rem;
    }
    dt,
    dd {
        padding-bottom: 0.75rem;
    }
    dl dt,
    dl dd {
        border-bottom: 1px solid var(--clr-neutral-light-grey);
    }
}
