@font-face {
  font-family: "Young Serif";
  src: url("../fonts/young-serif/YoungSerif-Regular.ttf");
}
@font-face {
  font-family: "Outfit";
  src: url("../fonts/outfit/Outfit-VariableFont_wght.ttf");
}
/*
## Colors

### Primary
*/
:root {
  --clr-nutmeg: hsl(14, 45%, 36%);
  --clr-dark-raspberry: hsl(332, 51%, 32%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-rose-white: hsl(330, 100%, 98%);
  --clr-eggshell: hsl(30, 54%, 90%);
  --clr-light-grey: hsl(30, 18%, 87%);
  --clr-wenge-brown: hsl(30, 10%, 34%);
  --clr-dark-charcoal: hsl(24, 5%, 18%);
  --spacing-l: 3.2rem;
  --spacing-m: calc(var(--spacing-l) * 0.875);
  --spacing-s: calc(var(--spacing-l) * 0.75);
}

/* for margin and padding*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background-color: var(--clr-eggshell);
  color: var(--clr-wenge-brown);
  font-weight: 400;
  font-family: "Outfit";
}

@media (min-width: 600px) {
  :root {
    --spacing-l: 4rem;
    --spacing-m: calc(var(--spacing-l) * 0.8);
    --spacing-s: calc(var(--spacing-l) * 0.7);
  }
  main {
    max-width: 73.6rem;
    border-radius: 2.4rem;
  }
  body {
    display: grid;
    place-content: center;
    margin: 12.3rem 0;
  }
  main figure {
    max-width: calc(100% - var(--spacing-l) * 2);
    margin: var(--spacing-l) var(--spacing-l) 0 var(--spacing-l);
  }
  main figure img {
    border-radius: 1.2rem;
    -o-object-fit: contain;
       object-fit: contain;
    max-width: 100%;
  }
  h1 {
    font-size: 4rem;
  }
}
main {
  background-color: var(--clr-white);
}
main figure {
  width: 100%;
}
main figure img {
  max-width: 100%;
}
main h1 {
  font-size: 3.6rem;
  font-family: "Young Serif";
  font-weight: 400;
  padding-top: 0;
  padding-bottom: var(--spacing-s);
  color: var(--clr-dark-charcoal);
}
main h1 + p {
  line-height: 150%;
}
main article {
  padding: 0 var(--spacing-l) var(--spacing-l) var(--spacing-l);
}
main article section:first-child {
  margin-top: 4rem;
}
main article section:first-child p {
  line-height: 150%;
}
main article .preparation {
  background-color: var(--clr-rose-white);
  padding: var(--spacing-m);
  margin-top: var(--spacing-m);
  border-radius: 1.2rem;
}
main article .preparation h3 {
  font-family: "Outfit";
  color: var(--clr-dark-raspberry);
  font-size: 2rem;
}
main article .preparation ul {
  margin-top: 1.6rem;
}
main article .ingredients {
  margin-top: var(--spacing-m);
}
main article .nutrition p {
  margin: var(--spacing-s) 0;
}
main article .nutrition dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main article .nutrition dt:not(:last-of-type),
main article .nutrition dd:not(:last-of-type) {
  border-bottom: 0.2rem solid var(--clr-light-grey);
}
main article .nutrition dt,
main article .nutrition dd {
  padding: 1.5rem var(--spacing-m);
}
main article .nutrition dd {
  color: var(--clr-nutmeg);
  font-weight: 700;
}
main h2 {
  font-size: 2.8rem;
  color: var(--clr-nutmeg);
  font-family: "Young Serif";
  font-weight: 400;
}
main ul li,
main ol li {
  padding: 0.5rem 0;
  line-height: 150%;
}
main ul li span,
main ol li span {
  font-weight: bold;
}
main ul,
main ol {
  margin-top: var(--spacing-s);
}
main ul {
  list-style-type: none;
  padding-left: 4rem;
}
main ul li {
  position: relative;
}
main ul li::before {
  content: "";
  background-color: var(--clr-dark-raspberry);
  width: 0.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  left: -3rem;
  margin-top: 1rem;
  margin-right: 30px;
  font-size: 1rem;
  vertical-align: middle;
}
main ol {
  counter-reset: item;
  list-style-type: none;
}
main ol li {
  position: relative;
  margin-left: 4rem;
}
main ol li::before {
  content: counter(item) ".";
  counter-increment: item;
  color: var(--clr-nutmeg);
  font-weight: 700;
  position: absolute;
  left: -3rem;
}
main hr {
  border: 0.1rem solid var(--clr-light-grey);
  margin: var(--spacing-m) 0;
}/*# sourceMappingURL=style.css.map */